<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                padding-top: 10px;
                padding-left: 10px;
            }

            table {
                border: 1px solid black;
                border-collapse: collapse;
            }

            td, th {
                border: 1px solid black;
                padding: 5px;
            }
        </style>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded',() => {

                var sum;

                // reload when the back/front are used
                if(!!window.performance && window.performance.navigation.type == 2) {
                    window.location.reload(true);
                }

                //When the window is opened cart should be restored
                if (localStorage.getItem("sum")) {
                    if(localStorage.getItem("sum") === "0") {
                        document.querySelector('#placeorder').disabled = true;
                        sum = 0;
                    }
                    document.querySelector('#cartlist').innerHTML = localStorage.getItem("cart");
                    sum = parseFloat(localStorage.getItem("sum"));
                } else {
                    document.querySelector('#placeorder').disabled = true;
                    sum = 0;
                }
                document.querySelector('#total').innerHTML = `<h3>Total: ${sum}</h3>`;

                //For csrf-token cookie function
                function getCookie(c_name) {
                   if (document.cookie.length > 0) {
                        c_start = document.cookie.indexOf(c_name + "=");
                        if (c_start != -1) {
                            c_start = c_start + c_name.length + 1;
                            c_end = document.cookie.indexOf(";", c_start);
                            if(c_end == -1) c_end = document.cookie.length;
                            return unescape(document.cookie.substring(c_start,c_end));
                        }
                    }
                    return "";
                }

                //Handles after remove button is pressed
                function handleRemoveItem(button) {
                    button.onclick = () => {
                        sum = Math.round((sum - parseFloat(button.dataset.val)) * 100) / 100;
                        if (button.dataset.quan === "1") {
                            localStorage.removeItem(button.dataset.iden);
                            button.parentNode.parentNode.remove()
                        } else {
                            var quantity = button.dataset.quan;
                            var full_cost = Math.round((parseFloat(parseInt(localStorage.getItem(button.dataset.iden) - 1) * parseFloat(button.dataset.val))) * 100) / 100;
                            for(var x = 1; x < document.querySelector('#cartlist').getElementsByTagName('tr').length; x++) {
                                if(document.querySelector('#cartlist').getElementsByTagName('tr')[x].getElementsByTagName('button')[0].dataset.iden === button.dataset.iden) {
                                    document.querySelector('#cartlist').getElementsByTagName('tr')[x].innerHTML=`<tr><td>${button.dataset.item_type}</td><td>${button.dataset.item_name}</td><td>${button.dataset.item_size}</td><td>${parseInt(quantity)-1}</td><td>${full_cost}</td><td><button class="rem" data-val=${button.dataset.val} data-iden=${button.dataset.iden} data-quan=${parseInt(quantity)-1} data-cost=${full_cost} data-item_type=${button.dataset.item_type} data-item_name=${button.dataset.item_name} data-item_size=${button.dataset.item_size}>-</button></td></tr>`;
                                }
                            }
                            localStorage.setItem(button.dataset.iden,quantity-1);
                        }
                        if (sum === 0) {
                            document.querySelector('#placeorder').disabled = true;
                        }
                        document.querySelector('#total').innerHTML = `<h3>Total: ${sum}</h3>`;
                        localStorage.setItem("cart",document.querySelector('#cartlist').innerHTML);
                        localStorage.setItem("sum",sum);
                        if (parseInt(localStorage.getItem("sum")) !== 0) {
                            document.querySelectorAll('.rem').forEach(button => {
                                handleRemoveItem(button);
                            });
                        }
                    }
                }

                //When remove button is pressed
                document.querySelectorAll('.rem').forEach(button => {
                    handleRemoveItem(button);
                });

                //when add button is pressed
                document.querySelectorAll('.a').forEach(button => {
                    button.onclick = () => {
                        
                        document.querySelector('#placeorder').disabled = false;
                        sum = Math.round((sum + parseFloat(button.dataset.val)) * 100) / 100;
                        
                        if (button.dataset.iden in localStorage) {
                            for (var i=1;i<document.querySelector('#cartlist').getElementsByTagName('tr').length;i++) {
                                if (document.querySelector('#cartlist').getElementsByTagName('tr')[i].getElementsByTagName('button')[0].dataset.iden === button.dataset.iden) {
                                    var full_cost = Math.round((parseFloat(parseFloat(button.dataset.val)*(parseInt(localStorage.getItem(button.dataset.iden))+1)))*100) / 100;
                                    document.querySelector('#cartlist').getElementsByTagName('tr')[i].innerHTML=`<tr><td>${button.dataset.item_type}</td><td>${button.dataset.item_name}</td><td>${button.dataset.item_size}</td><td>${parseInt(localStorage.getItem(button.dataset.iden))+1}</td><td>${full_cost}</td><td><button class="rem" data-iden=${button.dataset.iden} data-val=${button.dataset.val} data-quan=${parseInt(localStorage.getItem(button.dataset.iden))+1} data-cost=${full_cost} data-item_type=${button.dataset.item_type} data-item_name=${button.dataset.item_name} data-item_size=${button.dataset.item_size}>-</button></td></tr>`;
                                    localStorage.setItem(button.dataset.iden,parseInt(localStorage.getItem(button.dataset.iden))+1);
                                }
                            }
                        }
                        else
                        {
                            var tr = document.createElement('tr');
                            tr.innerHTML=`<tr><td>${button.dataset.item_type}</td><td>${button.dataset.item_name}</td><td>${button.dataset.item_size}</td><td>${1}</td><td>${button.dataset.val}</td><td><button class="rem" data-iden=${button.dataset.iden} data-val=${button.dataset.val} data-quan=${1} data-cost=${button.dataset.val} data-item_type=${button.dataset.item_type} data-item_name=${button.dataset.item_name} data-item_size=${button.dataset.item_size}>-</button></td></tr>`;
                            document.querySelector('#cartlist').append(tr);
                            localStorage.setItem(button.dataset.iden,1);
                        }
                        document.querySelector('#total').innerHTML = `<h3>Total: ${sum}</h3>`;
                        localStorage.setItem("cart",document.querySelector('#cartlist').innerHTML);
                        localStorage.setItem("sum",sum);
                        document.querySelectorAll('.rem').forEach(button => {
                            handleRemoveItem(button);
                        });
                    }
                });
                
                //when place order is pressed
                document.querySelector('#placeorder').onclick = () => {
                    localStorage.clear();
                    var item_names=[];
                    var item_types=[];
                    var item_quans=[];
                    var item_costs=[];
                    var item_sizes=[];

                    for(var x = 1; x < document.querySelector('#cartlist').getElementsByTagName('tr').length; x++) {
                        item_types.push(document.querySelector('#cartlist').getElementsByTagName('tr')[x].getElementsByTagName('button')[0].dataset.item_type);
                        item_names.push(document.querySelector('#cartlist').getElementsByTagName('tr')[x].getElementsByTagName('button')[0].dataset.item_name);
                        item_sizes.push(document.querySelector('#cartlist').getElementsByTagName('tr')[x].getElementsByTagName('button')[0].dataset.item_size);
                        item_quans.push(parseInt(document.querySelector('#cartlist').getElementsByTagName('tr')[x].getElementsByTagName('button')[0].dataset.quan));
                        item_costs.push(parseFloat(document.querySelector('#cartlist').getElementsByTagName('tr')[x].getElementsByTagName('button')[0].dataset.cost));
                    }
                    var req = new XMLHttpRequest();
                    req.open('POST','{% url "orders" %}',true);
                    req.onload = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            console.log(req.responseText);
                            document.querySelector('h5').innerHTML=`${req.responseText}`;
                        }    
                        
                    }
                    req.setRequestHeader("X-CSRFToken",getCookie("csrftoken"));
                    const data = new FormData();
                    data.append('item_types',item_types);
                    data.append('item_names',item_names);
                    data.append('item_sizes',item_sizes);
                    data.append('item_costs',item_costs);
                    data.append('item_quans',item_quans);
                    data.append('price',s);
                    data.append('username',document.querySelector('h5').dataset.user);
                    req.send(data);                  
                }
            });
        </script>
    </head>
    <body>
        <h1>Cart</h1>
        <div>
            <table id='cartlist'>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </table>
        </div>
        <div id="total"> 
        </div>
        <button id="placeorder">Place Order</button>
        <div>
            <h5 data-user="{{ username }}"></h5>
        </div>
        <hr>
        <a href="/myorders/{{username}}">My Orders</a>
        <hr>
        <a href="/logout_view">Logout</a>
        <hr>
        <h1>Menu</h1>
        <hr>
        <h3>Regular pizza</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in rpizza %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.item_size}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <h3>Sicilian pizza</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in spizza %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.item_size}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <h3>Toppings</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in toppings %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <h3>Subs</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in subs %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.item_size}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <h3>Pasta</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in pasta %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <h3>Salads</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in salads %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <h3>Dinner platters</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
            </thead>
            {% for i in dinnerplatters %}
            <tbody>
                <td>{{i.item_name}}</td>
                <td>{{i.item_size}}</td>
                <td>{{i.price}}</td>
                <td><button  class="a" data-item_type={{i.item_type}} data-item_name={{i.item_name}} data-item_size={{i.item_size}} data-val={{i.price}} data-iden = {{i.id}}>add</button></td>
            </tbody>
            {% endfor %}
        </table>
        <input type="hidden" id="refresh" value="no">
    </body>
</html>
