<!DOCTYPE html>
<html>
    <head>
        <title>MyOrders</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                padding-top: 10px;
                padding-left: 10px;
            }
        </style>
        {% load static %}
        <script src="{% static 'pizza/myorders.js' %}"></script>
    </head>
    <body>
        <a href="/logout_view">Logout</a>
        <hr>
        <h1>
            Your Orders
        </h1>
        <hr>
        <ul>
            {% for i in user_orders%}
            {% with k=forloop.counter %}
            Your Order Number is #{{i.id}}
            <div>{{i.time_ordered}}</div>
            
            <div>Status : {{i.status}}</div>

            {% for j in orders %}
            {% if k == forloop.counter %}
            <h5>List of items ordered</h5>
            <div>
                {% for x in j %}
                <div>{{x.item}} -- {{x.quantity}} -- {{x.item_cost}}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <h5>Total price : </h5>
            {{i.price}}
    
            <hr>
            {% endwith %}
            {% endfor %}
        </ul>
        <input type="hidden" id="refresh" value="no">
    </body>
</html>
