<!DOCTYPE html>
<html>
    <head>
        <title>hello</title>
        {% load static %}
        <script src="{% static 'pizza/myorders.js' %}"></script>
    </head>
    <body>
        <a href="/logout_view">Logout</a>
        <hr>
        <h1>
            Your Orders
        </h1>
        <hr>
        <ul>
            {% for i in user_orders%}
            {% with k=forloop.counter %}
            Your Order Number is #{{i.id}}
            <div>{{i.time_ordered}}</div>
            
            <div>Status : {{i.status}}</div>

            {% for j in orders %}
            {% if k == forloop.counter %}
            <h5>List of items ordered</h5>
            <div>
                {% for x in j %}
                <div>{{x.item}} -- {{x.quantity}} -- {{x.item_cost}}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <h5>Total price : </h5>
            {{i.price}}
    
            <hr>
            {% endwith %}
            {% endfor %}
        </ul>
        <input type="hidden" id="refresh" value="no">
    </body>
</html>
