<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                padding-top: 10px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body>
        <h1>
            Register
        </h1>
        <hr>
        {{ msg }}
        <hr>
        <form action="/login" method="POST">
            {% csrf_token %}
            <input name="username" placeholder="enter username" type="text">
            <input name="password" placeholder="enter password" type="password">
            <input name="email" placeholder="enter email" type="text">
            <input name="phone" placeholder="enter phone number" type="text">
            <input name="door_no" placeholder="enter door number" type="text">
            <input name="street" placeholder="enter street" type="text">
            <input name="city" placeholder="enter city" type="text">
            <button>submit</button>
        </form>
    </body>
</html>
